* {
    box-sizing: border-box;
    color:#EEEEEE;
    text-decoration: none;
}

html, body {
    background-color: #222831;
}

nav {
    background-color: #393e46;
    display: none;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    height: 50px;
    width: 100%;
}

nav li {
    padding: 15px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.logo li:hover, .links li:hover {
    background-color: rgba(238, 238, 238, 0.15);
}

li {
    list-style: none;
}


#landing, #aboutme, #projects, #skills {
    display: flex;
    flex-wrap: wrap;
}

#landing {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landing > h1, #landing > p {
    margin: 0;
    text-align: center;
}

#aboutme {
    text-align: center;
    display: flex;
}

#aboutMeText {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#personal {
    display: flex;
    justify-content: center;
    align-items: center;
}

#personal > h2, #personal > p {
    width: 50%;
    height: 50%;
}

#personalPictureFrame {
    width: 50vw;
}

#contact {
    display: flex;
}

#contact > h3 {
    width: 50%;
    height: 50%;
}

#personalPictureFrame > img {
    width: 100%;
}

.aboutme p {
    padding: 20px;
}


.projectCard:hover, .skills > li:hover, .contact > li:hover {
    box-shadow: 5px 5px 3px rgba(238, 238, 238, 0.15);
}



#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projects > h4 {
    align-self: flex-start;
    justify-self: flex-start;
    text-align: center;
    width: 100%;
    font-size: 5vh;
}

#projectButtons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects .projectCard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 30vw;
    margin: 5px;
    background-color: #00adb5;
    border-radius: 3px;
}

#projects > a {
    margin: 5px;
}

#projects > a > .projectCard {
    margin: 0;
}

#projects > .projectCard > h3 {
    text-decoration: none;
}

#projects > h2 {
    width: 100%;
    text-align: center;
}

.pictureFrame {
    height: 100px;
    width: 100px;
}

.projectCard {
    display: flex;
    flex-direction: column;
}

img {
    height: 100%;
}

.projects, .contact {
    background-color: #393e46;
}

.skills {
    height: 500px;
}

.skillsTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.skillsTitle > h3 {
    font-size: 32px;
}

.skillsList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 48px;
    width: 50%;
    /* padding: 50px; */
}

.skillsList > li {
    margin: 20px;
}

#landing, #aboutme, #projects, #skills {
    height: 100vh;
    width: 100vw;
}

.toolTip {
    position: relative;
    display: inline-block;
}

.toolTip .toolTipText {
    font-size: 2vw;
    visibility: hidden;
    width: 80px;
    background-color: #00adb5;
    text-align: center;
    border-radius: 3px;
    bottom: 100%;
    left: 50%;
    margin-left: -40px;
    margin-bottom: 10px;
    position: absolute;
    z-index: 1;
}

.toolTip:hover .toolTipText {
    visibility: visible;
}

.toolTip .toolTipText::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #00adb5 transparent transparent transparent;
}