* {
    box-sizing: border-box;
    color:#EEEEEE;
}

html, body {
    background-color: #222831;
}

nav {
    background-color: #393e46;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 50px;
    width: 100%;
}

nav li {
    padding: 15px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.logo li:hover, .links li:hover {
    background-color: #00adb5;
}

li {
    list-style: none;
}

#logo {
    margin: 0 auto 0 0;
}

.aboutme {
    text-align: center;
}

.aboutme p {
    padding: 20px;
}

.projects, .skills, .contact {
    display: flex;
    flex-wrap: wrap;
}

.projectCard:hover, .skills > li:hover, .contact > li:hover {
    box-shadow: 5px 5px 3px rgba(238, 238, 238, 0.15);
}

.projects .projectCard, .skills > li, .contact > li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    margin: 50px;
    background-color: #00adb5;
    border-radius: 30px;
}

.projects {
    justify-content: center;
}

.projects > a {
    margin: 50px;
}

.projects > a > .projectCard {
    margin: 0;
}

.projects > .projectCard > h3 {
    text-decoration: none;
}

.projects > h2 {
    width: 100%;
    text-align: center;
}

.pictureFrame {
    height: 100px;
    width: 100px;
}

.projectCard {
    display: flex;
    flex-direction: column;
}

img {
    height: 100%;
}

.projects, .contact {
    background-color: #393e46;
}

.skills {
    height: 500px;
}

.skillsTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.skillsTitle > h3 {
    font-size: 32px;
}

.skillsList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 48px;
    width: 50%;
    /* padding: 50px; */
}

.skillsList > li {
    margin: 20px;
}

.aboutme, .projects, .skills, .contacts {
    height: 100vh;
    width: 100vw;
}